{% extends 'base.html' %}

{% block content %}

    <h1>Корзина</h1>
    <br>
    {% if order %}
    <h2>Информация о заказе:</h2>
    <p>Дата создания заказа: {{ order.order_date }}</p>
    <br>
    <h3>Позиции:</h3>
    <ul>
        <table width="100%">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Дистрибъютор</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in order_items %}
                <tr>
                    <!-- <td>{{ item.product_name }}</td> -->
                    <td>{{ item.product_name }}</td>
                    <td>
                        <form method="POST" action="{% url 'update_order_item' item.id %}">
                            {% csrf_token %}
                            <input type="number" name="quantity" value="{{ item.quantity }}">
                            <input type="submit" value="Изменить">
                        </form>
                    </td>
                    <!-- <td>{{ item.quantity }}</td> -->
                    <td>{{ item.price }}</td>
                    <td>{{ item.shop }}</td>
                    <td>
                        <form method="POST" action="{% url 'delete_order_item' item.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </ul>
    <br>
    <p>Сумма заказа: {{ total_price }}</p>
    <form method="POST">
        {% csrf_token %}
        <label for="delivery_address">Адресс доставки:</label>
        <input type="text" name="delivery_address" id="delivery_address" required>
        <br/><br/>
        <label for="delivery_date">Дата доставки:</label>
        <input type="date" name="delivery_date" id="delivery_date" required>
        <br><br>
        <input type="submit" value="Оформить заказ">
    </form>
    {% else %}
        <p>Вы еще не начали формировать заказ</p>
    {% endif %}

{% endblock %}