{% extends 'base.html' %}

{% block content %}
  <h2>Импорт продуктов</h2>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <br/> 
  Для обновления списка продуктов загрузите YAML файл
  <br/><br/>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="yaml_file"></label>
    <input type="file" name="yaml_file" id="yaml_file" required>
    <br/><br/>
    <button type="submit">Импортировать</button>
  </form>
{% endblock %}
