{% extends 'base.html' %}

{% block content %}
  <h1>История заказов</h1>
  {% if orders %}
    <ul>
      {% for order in orders %}
        <li>
          {% if order.status == 'editing' %}
            <p>Статус заказа: {{ order.status }}</p>
            <p>Дата создания: {{ order.created_at }}</p>
            <a href="{% url 'cart' %}">Перейти к оформлению</a>
          {% else %}
            <p>Статус заказа: {{ order.status }}</p>
            <p>Адресс доставки: {{ order.delivery_address }}</p>
            <p>Ожидаемая дата доставки: {{ order.delivery_date }}</p>
            <p>Дата оформления заказа: {{ order.order_date }}</p>
            <a href="{% url 'order_detail' order.id %}">Перейти в карточку</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>У вас еще нет ни одного заказа</p>
  {% endif %}
{% endblock %}
