{% extends 'base.html' %}

{% block content %}

{% if shop %}
<head>
    <title>Список продуктов</title>
</head>
<body>
    <h1>Магазин {{ shop.name }}</h1>
    <br/>
    <h2>Продукты</h2>
    <table width="100%">
        <thead>
            <tr>
                <th>Название</th>
                <th>Категория</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>РРЦ</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product.name }}</td>
                <td>{{ product.product.category.name }}</td>
                <td>
                <form method="POST" action="{% url 'update_product_quantity' product.id %}">
                    {% csrf_token %}
                    <input type="number" name="quantity" value="{{ product.quantity }}">
                    <input type="submit" value="Изменить">
                </td>
                <td> 
                <form method="POST" action="{% url 'update_product_price' product.id %}">
                    {% csrf_token %}
                    <input type="number" name="price" value="{{ product.price }}">
                    <input type="submit" value="Изменить">
                </td>
                <td>
                <form method="POST" action="{% url 'update_product_price_rrc' product.id %}">
                    {% csrf_token %}
                    <input type="number" name="price_rrc" value="{{ product.price_rrc }}">
                    <input type="submit" value="Изменить">
                </td>
                <!-- <td>
                    <form method="POST" action="{% url 'delete_product' product.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Удалить">
                    </form>
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% else %}
<center>
    <p>Вы не являетесь менеджером магазина. Зарегистрировать магазин?</p>
    <a href="{% url 'register_shop' %}" class="btn btn-secondary">Зарегистрировать магазин</a>
</center>
{% endif %}
{% endblock %}