{% extends 'base.html' %}

{% block content %}

{% if shop %}
<head>
    <title>Управление магазином</title>
</head>
<body>
    <h1>Магазин: {{ shop.name }}</h1>
    <br/>
    <h2>Статус принятия заказов</h2>
    <form method="post" action="{% url 'shop_status' shop.id %}">
        {% csrf_token %}
        <input type="checkbox" name="state" {% if shop.state %}checked{% endif %}>
        <input type="submit" value="Установить">
    </form>
    <br/>    
    <h2>Продукты</h2>
    <table width="100%">
        <thead>
            <tr>
                <th>Название</th>
                <th>Категория</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>РРЦ</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product.name }}</td>
                <td>{{ product.product.category.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.price_rrc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% else %}
<center>
    <p>Вы не являетесь менеджером магазина. Зарегистрировать магазин?</p>
    <a href="{% url 'register_shop' %}" class="btn btn-secondary">Зарегистрировать магазин</a>
</center>
{% endif %}
{% endblock %}